langchain
langchain_core 
langsmith 
langchain_openai
langchain_community==0.2.6
langchain-qdrant
qdrant-client
langchain-groq
spider-client
markdownify
scrapingbee
supabase
tenacity
openai 
tiktoken 
cohere
rank_bm25
